@model Osis.Models.ViewModels.DashboardDisplayViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span10 offset2"><div>Welcome </div></div>
</div>

@Model.CompanyName
@Model.LastLoggedOnFromIP

<div class="jumbotron masthead"><div class="container"><h1>This is so cool!!</h1></div></div>
